<!DOCTYPE html>
<html lang="en">
<style>
    .blue {
        color: blue
    }
    .red {
        color: red;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
    <div id="root">
        <tabs>
            <tab name="About Us" :selected = "true">
                <h1>Here is the content for our About Us tab.</h1>
            </tab>
            <tab name="Out Culture">
                <h1>Here is the content for our Culture tab.</h1>
            </tab>
            <tab name="About Our Vision">
                <h1>Here is the content for our About Our Vision tab.</h1>
            </tab>
        </tabs>
    </div>
    <div id='test'>
        <ul>
            <li v-for="name in names" @click="changeColor" :class="className">{{name | lc }} hello</li>
        </ul>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="main.js"></script>
<script>
    new Vue({
        el: '#test',
        data: {
            names: ['Joe', 'Mary', 'Sam'],
            className: 'blue'
        },
        methods: {
            changeColor() {
                this.className = 'red'
            }
        },
        filters: {
            lc: (val) => val.toLowerCase()
        }
    })
</script>
</html>
